Repository softwaremill/test-autobump, pull requests merged in 2023-11, with the labels that each got.

#5 failing test
  .github/workflows/automerge.yml
  .github/workflows/ci.yml
  .github/workflows/scala-steward.yml
Labels: AnyTitleAndSmall, automerge

#7 upd
  .github/workflows/scala-steward.yml
Labels: automerge

#8 Update http4s-circe, http4s-dsl, ... to 0.23.24
  project/Versions.scala
Labels: automerge, steward, automerge2

#13 Update cats-effect to 3.5.2
  project/Versions.scala
Labels: automerge

#17 Update scalatest to 3.2.17
  project/Versions.scala
Labels: automerge

#23 Update cats-core to 2.10.0
  project/Versions.scala
Labels: automerge

#27 Update circe-core, circe-generic, ... to 0.14.6
  project/Versions.scala
Labels: automerge

#39 Update natchez-datadog, natchez-log to 0.3.4
  project/Versions.scala
Labels: automerge

#41 Update pureconfig-core, pureconfig-ip4s to 0.17.4
  project/Versions.scala
Labels: automerge

#44 Update datadog4s to 0.32.0
  project/Versions.scala
Labels: automerge

#32 Update cats-testkit-scalatest to 2.1.5
  project/Versions.scala
Labels: automerge

#35 Update kittens to 3.1.0
  project/Versions.scala
Labels: automerge

#54 Update log4j-core, ... to 2.22.0
  project/Versions.scala
Labels: automerge

#55 Update log4cats-slf4j to 2.6.0
  project/Versions.scala
Labels: automerge
